<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Appointment system</title>

<!--    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"-->
<!--          th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet" />-->
<!--    <link-->
<!--          th:href="@{/resources/css/style.css}" rel="stylesheet" />-->
    
<!--    <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"-->
<!--             th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>-->
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"-->
<!--            th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>-->
<!--    -->
<!--    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"-->
<!--          th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" rel="stylesheet" />-->
    
</head>

<body>
<div th:fragment="bodyHeader">


    <div class="navbar" style="width: 801px;">
        <div class="navbar-inner">
            <ul class="nav">
                <li style="width: 90px;"><a th:href="@{/}"><i class="icon-home"></i>Домой</a></li>
                <li style="width: 90px;"><a th:href="@{/view/products}"><i class="icon-search"></i>Услуги</a></li>
                <li style="width: 130px;"><a th:href="@{/view/schedule}"><i class="icon-search"></i>Расписание</a></li>
                <li style="width: 110px;"><a th:href="@{/view/clients}"><i class="icon-search"></i>Клиенты</a></li>
                <li style="width: 140px;"><a th:href="@{/view/bookings}"><i class="icon-search"></i>Бронирования</a></li>
                <!--            <li style="width: 140px;"><a href="../vets/vetList.html" th:href="@{/vets.html}"><i class="icon-th-list"></i>Veterinarians</a></li>-->
                <!--            <li style="width: 90px;"><a href="../exception.html" th:href="@{/oups.html}" title="trigger a RuntimeException to see how it is handled"><i class="icon-warning-sign"></i>Error</a></li>-->
                <!--            <li style="width: 80px;"><a href="#" title="not available yet. Work in progress!!"><i class=" icon-question-sign"></i>Help</a></li>-->
            </ul>
        </div>
    </div>
</div>

<div th:fragment="duration (duration)">
  <td  th:with="hours=${(duration) / ( 60)},
    minutes=${(duration - (hours * 60))},
    hoursText=${hours &gt; 0? hours + ' ч. ' :''},
    minutesText=${minutes &gt; 0? minutes + ' мин. ' :''}"
    th:text="${hoursText} + ${minutesText}"></td>
</div>


<div th:fragment="applyButton (value)" class="form-actions">
    <button th:if="${action}=='create'" type="submit" class="btn btn-success">Создать <span th:text="${value}"></span></button>
    <button th:if="${action}=='update'" type="submit" class="btn btn-success">Обновить <span th:text="${value}"></span></button>
    <button th:if="${action}==null" type="submit" class="btn btn-success">Подтвердить</button>
</div>

	
</body>

</html>