<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header (value='Информация о расписании на день')">
    </div>
</head>
<body>


<div class="container">

    <div th:insert="fragments/bodyHeader :: bodyHeader"></div>

    <h2>Информация о расписании на день</h2>

    <table th:object="${dayScheduleResponse}" class="table table-striped" style="width:600px;">

        <tr>
            <th>Дата</th>
            <td><b th:text="*{#temporals.format(date, 'dd MMM yyyy')}">[date]</b></td>
        </tr>
        <tr>
            <th>Рабочий день</th>
            <td th:text="*{workingDay}? 'Да' :'Нет'">[workingDay]</td>
        </tr>
        <tr th:if="*{workingDay}">
            <th>Начало рабочего дня</th>
            <td th:text="*{timeFrom}">[timeFrom]</td>
        </tr>
        <tr th:if="*{workingDay}">
            <th>Конец рабочего дня</th>
            <td th:text="*{timeTo}">[timeTo]</td>
        </tr>

        <tr th:if="*{workingDay}">
            <th>Слоты</th>
            <td>
                <ul  style="margin-left: 0px">
                    <li th:each="t : *{timeslots}">
                    <p
                        th:if="${t.status == T(com.aleksmurmur.hairdresser.booking.domain.TimeslotStatus).FREE}"
                        th:text="|Свободно от ${t.timeFrom} до ${t.timeTo}|"></p>
                    <p
                        th:if="${t.status == T(com.aleksmurmur.hairdresser.booking.domain.TimeslotStatus).BUSY}"
                        th:text="|Запись от ${t.timeFrom} до ${t.timeTo}|"></p>
                    <p
                        th:if="${t.status == T(com.aleksmurmur.hairdresser.booking.domain.TimeslotStatus).UNAVAILABLE}"
                        th:text="|Перерыв от ${t.timeFrom} до ${t.timeTo}|"></p>
                    </li>
                </ul>
            </td>
        </tr>


        <tr>
            <td>
                <a th:href="@{|*{date}/edit|}" href="./createOrUpdateProductForm.html"
                   class="btn btn-info">Редактировать</a></td>
            <td>
                <form th:method="post" th:action="@{|*{date}/delete|}">
                    <button type="submit" class="btn btn-warning">Удалить</button>
                </form>
            </td>

        </tr>
    </table>

</div>

<div th:insert="fragments/footer"></div>

</body>
</html>