<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="~{fragments/header :: header (value='Создание и редактирование клиентов')}"></div>
</head>
<body>

<div class="container">

    <div th:insert="~{fragments/bodyHeader :: bodyHeader}" ></div>

    <h2>
    <span th:if="${action} == 'create'">Новый </span> Клиент
</h2>
<form  th:object="${clientForm}" th:method="post" th:action="${path}" class="form-horizontal" id="add-client-form">
    <div class="control-group"  th:classappend="${#fields.hasErrors('phone')} ? error">

        <label class="control-label">Телефон клиента</label>
        <div class="controls">
            <input type="text" th:field="*{phone}"  />
            <span class="help-inline" th:errors="*{phone}">[error]</span>
        </div>
    </div>

    <div class="control-group" th:classappend="${#fields.hasErrors('name')} ? error">
        <label class="control-label">Имя клиента</label>
        <div class="controls">
            <input type="text" th:field="*{name}" />
            <span class="help-inline" th:errors="*{name}">[error]</span>
        </div>
    </div>

    <div th:insert="~{fragments/bodyHeader :: applyButton (value='клиента')}" ></div>
</form>
</div>

<div th:insert="fragments/footer"></div>

</body>
</html>