<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="fragments/header :: header (value='Услуги')"></div>
</head>
<body>

<div class="container">

    <div th:insert="fragments/bodyHeader :: bodyHeader"></div>


    <h2>Клиенты</h2>
    <div>


            <table class="table table-striped">
                <form th:action="@{${path}}" method="get">

                <td style="width: 150px;">
                    <input type="text" th:value="${phone}" name="phone" class="input-medium"/>
                </td>
                <td style="width: 50px;">
                    <button type="submit" class="btn btn-medium">Поиск</button>
                </td>
                <td style="width: 50px;">
                    <button type="submit" th:value="null" class="btn btn-medium">Все</button>
                </td>.
        </form>
                <td >
                    <form method="get" th:action="@{|${path}/new|}">
                    <button type="submit" class="btn btn-medium">Добавить клиента</button>
                    </form>
                </td>

            </table>

    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Телефон</th>
            <th style="width: 200px;">Имя</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${clients}">
            <td>
                <a href="clientResponse.html"
                   th:href="@{|${path}/${c.id}|}"
                   th:text="|${c.phone}|">Телефон</a>
            </td>
            <td th:text="${c.name}">Имя</td>
            <td>
                <a th:href="@{|${path}/${c.id}/edit|}"
                   class="btn btn-info">Редактировать</a>
            </td>
            <td>
                <form th:method="post" th:action="@{|${path}/${c.id}/delete|}">
                    <button type="submit" class="btn btn-warning">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:insert="fragments/footer"></div>
</body>
</html>